/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: steelblue;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  section ul {
    list-style: disc
}

nav {
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }