
  /* Main Element */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  

/* Hamburger Button Styles */
.hamburger-btn {
  display: none;
}

/* Large View Styles */
@media (min-width: 768px) {
  /* Navigation Styles */
  .menu-items {
    display: block;
  }

  /* Hamburger Button Styles */
  .hamburger-btn {
    display: block;
  }
}

.dark-mode-toggle {
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
}

.dark-mode {
  background-color: #333;
}
